<ion-navbar *navbar>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Case List</ion-title>
    
    <ion-buttons end>
        <button royal   (click)="openSearch()">
            <ion-icon name="search"></ion-icon>
        </button>
        <button royal   (click)="openPage()">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-buttons>


</ion-navbar>
<ion-toolbar primary>
    <ion-buttons start>
        <button royal  (click)="removeOneDay()">
            <ion-icon name="ios-arrow-dropleft"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title>Date:
      <ion-datetime   (change)="refresh()"  min="2016" max="2020-10-31" displayFormat="DD/MM/YYYY" [(ngModel)]="selectedDate" ></ion-datetime>
    </ion-title>
    
    <ion-buttons end>
        <button royal   (click)="addOneDay()">
            <ion-icon name="ios-arrow-dropright"></ion-icon>
        </button>
    </ion-buttons>
</ion-toolbar>

<ion-content>

<ion-searchbar *ngIf="isSearch" 
  [(ngModel)]="searchQuery"
  
  (input)="searchRefresh($event)"
  (cancel)="onCancel($event)" 
  [debounce]="1000"
  [cancelButtonText] = "Cancel"
  >
</ion-searchbar>



<ion-list #slidingItem>

<ion-item *ngIf="notes.length<1">
        Vow! Your are free here.  
</ion-item>

  <ion-item-sliding   *ngFor="let item of notes " >


    <ion-item>
      <!-- <ion-avatar item-left>
        <img src="img/spengler.jpg">
      </ion-avatar> -->
      <h2>
          {{item.court_name}}

      </h2>

<h3>{{item.first_party_name}} vs {{item.second_party_name}}</h3>
    <p>{{item.case_stage}}</p>
     <button clear item-right (click)="itemTapped($event, item)" >View</button>

    </ion-item>
    <ion-item-options>
      <button primary>
        <ion-icon name="text"></ion-icon>
        Comment
      </button>
      <button  (click)="update(item)">
        <ion-icon name="heart"></ion-icon>
        Edit
      </button>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>









</ion-content>
