<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Add Note</ion-title>
</ion-navbar>

<ion-content>

<form   name="noteForm" (ngSubmit)="save(noteForm)"  #heroForm="ngForm" novalidate>
  <ion-list>
    <ion-item>
      <ion-label>Select Previous Date</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="note.prious_date" ngControl="prious_date"  required></ion-datetime>

    </ion-item>
    <ion-item>
      <ion-label floating>Court Name</ion-label>
        <ion-input type="text" [(ngModel)]="note.court_name" ngControl="court_name"  required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>First Party Name</ion-label>
      <ion-input type="text"  [(ngModel)]="note.first_party_name" ngControl="first_party_name"  required ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Second Party Name</ion-label>
      <ion-input type="text" [(ngModel)]="note.second_party_name" ngControl="second_party_name"  required ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Case Stage</ion-label>
      <ion-textarea type="text" [(ngModel)]="note.case_stage" ngControl="case_stage"  required ></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>Select Next Date</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="note.next_date" ngControl="next_date"  required ></ion-datetime>
    </ion-item>
      
    <button [disabled]="!heroForm.form.valid" type="submit" full>

    <span *ngIf="!note.id" >Create</span>
    <span  *ngIf="note.id"  >Update</span>


    </button>
    


    <button  type="button"  (click) = "truncateNotes()" full>Truncate Notes Table</button>
     
      
  </ion-list>
  </form>
</ion-content>
